<div class="sombraCaixa"></div>

<div class="caixaCadastro">
    <h1>Faça seu cadastro</h1>

    <input type="text" placeholder="E-mail" class="box1"/>
    <input type="text" placeholder="Senha" size="40" class="box2"/>

    <div id="olho"></div>

    <div class="termos">
        <input type="checkbox" name="termos" class="checkbox">
        Eu concordo com os <a href="*">Termos e Condições de Uso do
        PapoCast</a>
    </div>

    <button class="botao botaoCadastrar">Cadastrar-se</button>
   
    <hr size="1" width="430px">

    <div class="login">
        <a routerLink="/formulario">Faça login</a>
    </div>

    <div id="seta"></div>
        
</div>

<app-footer></app-footer>