@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

footer {
    position: absolute;
    width: 100%;
    height: 152px;
    left: 0px; 
    top: 668px;
    margin-bottom: 0px;
    background: rgba(255, 255, 255, 0.26);
}

#informacao h4 {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13.5pt;
    font-weight: 400px;
    left: 122px;
    top: -8px;
    padding: 6px;
    color: #FFFFFF;
    display: block;
    width: 300px;    
}

#informacao ul {
    list-style: none;
    position: relative;
    width: 200px;
    height: 20pt;
    left: 103px;
    top: -45px;
    float: left;    
}

#informacao li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10.25pt;
    line-height: 16.94px;
    display: list-item;
    color: #FFFFFF;
    padding: 4px;
}

div#logo2 {
    position: absolute;
    width: 176px;
    height: 59.79px;
    right: 128px;
    top: 44px;
    background: url(../footer/logo.png);
}