
<div class="retanguloCard">
    <div class="figure">
        <img src="/assets/imgHtml.png">
    </div>
    <h1>Entenda o que é HTML</h1>
    <h2>Descrição:</h2>
    <p>Antes de tudo o HTML é a sigla para Hyper Text
       Markup Language. Ele permite inserir o conteudo
       e estabelecer a estrutura básica de um website.
       Entendendo ele, você será capaz de
       compreender as outras tecnologias.</p>
    <h3>PapoCast <br>
        25 Mar 21  1:35:18
    </h3>
</div>

<h4>Detalhe PapoCast</h4>

<div id="seta"></div>

<a routerLink="/header">Voltar ultimos lançamentos</a>
