<div class="retanguloCard">
    <div class="figure">
        <img src="/assets/imgData.png">
    </div>
    <h1>O ramo de Data Center no Brasil</h1>
    <h2>Descrição:</h2>
    <p>A trnsformação digital é um dos motores da
        economia da América Latina e do Brasil. Estudo
        do IDC Latin America publicado em 2020 indica
        que, até 2022, 40% do PIB da Améria Latina virá
        de negócios digitais.
    </p>
    <h3>PapoCast <br>
        16 Jan 21  24:26
    </h3>
</div>

<h4>Detalhe PapoCast</h4>

<div id="seta"></div>

<a routerLink="/header">Voltar ultimos lançamentos</a>

