@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h2 {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 290px;
    height: 28px;
    right: 45px;
    top: 220px;
    color: #494D4B;
}

#retangulop1 {
    position: absolute;
    width: 432px;
    height: 136px;
    left: 905px;
    top: 330px;
    background: #FFFFFF;
    border: 1px solid #E6E8EB;
    box-sizing: border-box;
    border-radius: 24px;
}

.imagem{
    position: absolute;
    width: 96px;
    height: 96px;

}

.imagem img {
    left: 973px;
    top: 346px;
    border-radius: 16px;
    padding: 18px;
}

#retangulop1 #retangulop2 img{
    position: absolute;
    width: 4px;
    height: 4px;
    left: 1149px;
    top: 423px;

}

h3 {
    position:absolute;
    left: 130px;
    top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #494D4B;
}

p {
    position: absolute;
    left: 130px;
    top: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #808080;
}

#retangulop2 {
    position: absolute;
    width: 432px;
    height: 136px;
    left: 905px;
    top: 499px;
    background: #FFFFFF;
    border: 1px solid #E6E8EB;
    box-sizing: border-box;
    border-radius: 24px;
}

.imagem2 img {
  left: 973px;
  top: 346px;
  border-radius: 16px;
  padding: 18px;
}
