<h2>Ultimos Lançamentos</h2>

<div id="retangulop1">
    <div class="imagem">
        <img src="/assets/retTele.png">
    </div>
    <h3>Ramo de Telecomunicação no Brasil</h3>
    <p>PapoCast <br>
        26 Set 21 <img src="/assets/Ellipse 2.png"> 1:45:18
    </p>
</div>

<div id="retangulop2">
  <div class="imagem2">
    <img src="/assets/retProg.png">
    </div>
    <h3>Desafios no ramo da Programação</h3>
    <p>PapoCast <br>
        8 Ago 21 <img src="/assets/Ellipse 2.png"> 35:40
    </p>
</div>

<!-- <app-header></app-header>  -->
