<div class="retanguloCard">
    <div class="figure">
        <img src="/assets/imgNet.png">
    </div>
    <h1>Um bate papo sobre .NET</h1>
    <h2>Descrição:</h2>
    <p>Os conceitos introdutórios do .NET, um
        framework da Microsoft para o desenvolvimento
        e execução de aplicações, suas características e
        funcionamento, com visão prática de sua
        utilização.
    </p>
    <h3>PapoCast <br>
        2o Fev 21  35:40
    </h3>
</div>

<h4>Detalhe PapoCast</h4>

<div id="seta"></div>

<a routerLink="/header">Voltar ultimos lançamentos</a>
