<div class="retanguloCard">
    <div class="figure">
        <img src="/assets/imgPython.png">
    </div>
    <h1>Python: Por onde começar?</h1>
    <h2>Descrição:</h2>
    <p>Uma introdução ao conhecimento e cotidiano
        dessa linguagem, com aprofundamento do
        básico ao avançado, trazendo a visão prática da
        utilização da linguagem de forma simples e
        dinâmica.
    </p>
    <h3>PapoCast <br>
        25 Fev 21  4:27
    </h3>
</div>

<h4>Detalhe PapoCast</h4>

<div id="seta"></div>

<a routerLink="/header">Voltar ultimos lançamentos</a>
