<div class="retanguloCard">
    <div class="figure">
        <img src="/assets/imgRest.png">
    </div>
    <h1>Um bate papo sobre REST e RESTful</h1>
    <h2>Descrição:</h2>
    <p>Você sabe o que é REST e RESTful? Sabe aonde
        precisamos utilizar ele e como? Tudo isso será
        explicado de forma clara e simples para que
        todos possam entender.
    </p>
    <h3>PapoCast <br>
        6 Abr 21  1:20:18
    </h3>
</div>

<h4>Detalhe PapoCast</h4>

<div id="seta"></div>

<a routerLink="/header">Voltar ultimos lançamentos</a>
