<div class="retanguloCard">
    <div class="figure">
        <img src="/assets/imgCss.png">
    </div>
    <h1>Vale a pena aprender CSS?</h1>
    <h2>Descrição:</h2>
    <p>Há mil formas de te convencer que ainda vale
        muito a pena aprender CSS. Não é só porque
        hoje existem frameworks e bibliotecas que
        devemos ignorar o CSS. É preciso entender os
        conceitos dessa linguagem de estilo.
    </p>
    <h3>PapoCast <br>
        8 Mar 21  1:27:11
    </h3>
</div>

<h4>Detalhe PapoCast</h4>

<div id="seta"></div>

<a routerLink="/header">Voltar ultimos lançamentos</a>
