<div class="sombraCaixa"></div>

<div class="caixaForms">
    <h1>Faça Login</h1>

    <input type="text" placeholder="E-mail" class="box1"/>
    <input type="text" placeholder="Senha" size="40" class="box2"/>

    <div id="olho"></div>

    <a routerLink = 'header'><button class="botao botaoEntrar">Entrar</button></a>
   
    <hr size="1" width="350px">

    <div class="cadastro">
        <a routerLink="/cadastro">Faça seu cadastro</a>
    </div>
    
    <div id="seta"></div>
        
</div>

<div class="imagemFundo"></div>

<app-footer></app-footer>